<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.wigon.dao.DeliveryMapper">

  <resultMap id="Delivery" type="top.wigon.pojo.Delivery" >
    <result column="id" property="id" />
    <result column="oid" property="oid" />
    <result column="name" property="name" />
    <result column="tel" property="tel" />
    <result column="state" property="state" />
    <result column="city" property="city" />
    <result column="district" property="district" />
    <result column="address" property="address" />
    <result column="currentLocation" property="currentLocation" />
    <result column="deliveryState" property="deliveryState" />
    <result column="gmt_create" property="gmtCreate" />
    <result column="gmt_modified" property="gmtModified" />
  </resultMap>

  <sql id="Base_Column_List">
    `id`,
        `oid`,
        `name`,
        `tel`,
        `state`,
        `city`,
        `district`,
        `address`,
        `currentLocation`,
        `deliveryState`,
        `gmt_create`,
        `gmt_modified`
  </sql>

  <insert id="insert" parameterType="java.util.Map" >
    INSERT INTO delivery (
      `id`,
      `oid`,
      `name`,
      `tel`,
      `state`,
      `city`,
      `district`,
      `address`,
      `currentLocation`,
      `deliveryState`,
      `gmt_create`,
      `gmt_modified`
    )
    VALUES(
            #{delivery.id},
            #{delivery.oid},
            #{delivery.name},
            #{delivery.tel},
            #{delivery.state},
            #{delivery.city},
            #{delivery.district},
            #{delivery.address},
            #{delivery.currentLocation},
            #{delivery.deliveryState},
            #{delivery.gmtCreate},
            #{delivery.gmtModified}
          )
  </insert>

  <delete id="delete" parameterType="java.util.Map" >
    DELETE FROM delivery
    WHERE `id` = #{id}
  </delete>

  <update id="update" parameterType="java.util.Map" >
    UPDATE delivery
    SET
      id = #{delivery.id},
      oid = #{delivery.oid},
      name = #{delivery.name},
      tel = #{delivery.tel},
      state = #{delivery.state},
      city = #{delivery.city},
      district = #{delivery.district},
      address = #{delivery.address},
      currentLocation = #{delivery.currentLocation},
      deliveryState = #{delivery.deliveryState},
      gmt_create = #{delivery.gmtCreate},
      gmt_modified = #{delivery.gmtModified},
      UpdateTime = NOW()
    WHERE `id` = #{delivery.id}
  </update>


  <select id="load" parameterType="java.util.Map" resultMap="Delivery">
    SELECT <include refid="Base_Column_List" />
    FROM delivery
    WHERE `id` = #{id}
  </select>

  <select id="pageList" parameterType="java.util.Map" resultMap="Delivery">
    SELECT <include refid="Base_Column_List" />
    FROM delivery
    LIMIT #{offset}, #{pagesize}
  </select>

  <select id="pageListCount" parameterType="java.util.Map" resultType="int">
    SELECT count(1)
    FROM delivery
  </select>

</mapper>
