<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.wigon.dao.ItemMapper">

    <resultMap id="Item" type="top.wigon.pojo.Item">
        <result column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="category" property="category"/>
        <result column="price" property="price"/>
        <result column="img" property="img"/>
        <result column="description" property="description"/>
        <result column="stock" property="stock"/>
        <result column="state" property="state"/>
        <result column="shopId" property="shopId"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
    </resultMap>

    <sql id="Base_Column_List">
        `id`,
        `title`,
        `category`,
        `price`,
        `img`,
        `description`,
        `stock`,
        `state`,
        `shopId`,
        `gmt_create`,
        `gmt_modified`
    </sql>

    <insert id="insert" parameterType="java.util.Map">
        INSERT INTO item (`id`,
                          `title`,
                          `category`,
                          `price`,
                          `img`,
                          `description`,
                          `stock`,
                          `state`,
                          `shopId`,
                          `gmt_create`,
                          `gmt_modified`)
        VALUES (#{item.id},
                #{item.title},
                #{item.category},
                #{item.price},
                #{item.img},
                #{item.description},
                #{item.stock},
                #{item.state},
                #{item.shopId},
                #{item.gmtCreate},
                #{item.gmtModified})
    </insert>

    <delete id="delete" parameterType="java.util.Map">
        DELETE
        FROM item
        WHERE `id` = #{id}
    </delete>

    <update id="update" parameterType="java.util.Map">
        UPDATE item
        SET id           = #{item.id},
            title        = #{item.title},
            category     = #{item.category},
            price        = #{item.price},
            img          = #{item.img},
            description  = #{item.description},
            stock        = #{item.stock},
            state        = #{item.state},
            shopId       = #{item.shopId},
            gmt_create   = #{item.gmtCreate},
            gmt_modified = #{item.gmtModified},
            UpdateTime   = NOW()
        WHERE `id` = #{item.id}
    </update>


    <select id="load" parameterType="java.util.Map" resultMap="Item">
        SELECT
        <include refid="Base_Column_List"/>
        FROM item
        WHERE `id` = #{id}
    </select>
    <select id="loadByCategory" parameterType="java.lang.String" resultMap="Item">
        SELECT
        <include refid="Base_Column_List"/>
        FROM item
        WHERE `category` = #{category}
    </select>
    <select id="loadByTitle" parameterType="java.lang.String" resultMap="Item">
        SELECT
        <include refid="Base_Column_List"/>
        FROM item
        WHERE `title` like concat('%',#{title},'%')
    </select>

    <select id="pageList" parameterType="java.util.Map" resultMap="Item">
        SELECT
        <include refid="Base_Column_List"/>
        FROM item
        LIMIT #{offset}, #{pagesize}
    </select>

    <select id="pageListCount" parameterType="java.util.Map" resultType="int">
        SELECT count(1)
        FROM item
    </select>

</mapper>
