<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.wigon.dao.UserMapper">

    <resultMap id="User" type="top.wigon.pojo.User">
        <result column="id" property="id"/>
        <result column="tel" property="tel"/>
        <result column="email" property="email"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="uimg" property="uimg"/>
        <result column="active" property="active"/>
        <result column="role" property="role"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
    </resultMap>

    <sql id="Base_Column_List">
        `id`,
        `tel`,
        `email`,
        `username`,
        `password`,
        `uimg`,
        `active`,
        `role`,
        `gmt_create`,
        `gmt_modified`
    </sql>

    <insert id="insert" parameterType="java.util.Map">
        INSERT INTO user (`id`,
                          `tel`,
                          `email`,
                          `username`,
                          `password`,
                          `uimg`,
                          `active`,
                          `role`,
                          `gmt_create`,
                          `gmt_modified`)
        VALUES (#{user.id},
                #{user.tel},
                #{user.email},
                #{user.username},
                #{user.password},
                #{user.uimg},
                #{user.active},
                #{user.role},
                #{user.gmtCreate},
                #{user.gmtModified})
    </insert>

    <delete id="delete" parameterType="java.util.Map">
        DELETE
        FROM user
        WHERE `id` = #{id}
    </delete>

    <update id="update" parameterType="java.util.Map">
        UPDATE user
        SET id           = #{user.id},
            tel          = #{user.tel},
            email        = #{user.email},
            username     = #{user.username},
            password     = #{user.password},
            uimg         = #{user.uimg},
            active       = #{user.active},
            role         = #{user.role},
            gmt_create   = #{user.gmtCreate},
            gmt_modified = #{user.gmtModified},
            UpdateTime   = NOW()
        WHERE `id` = #{user.id}
    </update>


    <select id="load" parameterType="java.util.Map" resultMap="User">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user
        WHERE `id` = #{id}
    </select>
    <select id="selectByTel" parameterType="java.lang.String" resultMap="User">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user
        WHERE `tel` = #{tel}
    </select>

    <select id="pageList" parameterType="java.util.Map" resultMap="User">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user
        LIMIT #{offset}, #{pagesize}
    </select>

    <select id="pageListCount" parameterType="java.util.Map" resultType="int">
        SELECT count(1)
        FROM user
    </select>

</mapper>
